.header {
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    background: transparent;
    color: white;
    margin: 0 auto;
    transition: background .3s linear;
}

.inner {
    // max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
    padding: 10px 20px;
}
 
.inner ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    margin: 0;
}

.canvas {
    flex: 1;
}

.darkNavBar {
    background-color: #091128;
}


