.skillsContainer {
    max-width: 1000px;
    margin: 0 auto;
    color: white;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconWrapper h2 {
    margin: 0;
}