.main {
  min-height: 100vh;
}

.inner {
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  flex: 1;
}

.background {
  position: relative;
  bottom: 0;
  height: 100vh;
  /* background: radial-gradient(#5f95fb, #04262b00); */
  background-image: url('/night-sky.png');
}

.curve {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  height: 900px;
  width: 100%;
}

.intro {
    position: absolute;
    bottom: 150px;
    max-width: 350px;
    color: white;
    color: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.intro h1 {
  text-transform: uppercase;
}

.introText {
  color: #c3f6ff;
}

.buttonContainer {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .curve {
    object-fit: cover;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    height: 794px;
  }
}
.projects {
  background-color: #091129;
  padding-top: 20px;
}